<!DOCTYPE html>
<html>
  <head>
    <title>Qna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= include_gon %>
    <%= Gon::Base.render_data %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <%= render 'shared/nav'  %>
    <%= render 'shared/flash_message' %>
    <%= yield %>

    <hr>
    <%= debug(params) if Rails.env.development? %>
  </div>
  </body>
</html>
